<section class="header">

    <div class="container cont-hdr">
        <div class="row">
            <div class="col-md-12 bg-image">
                <div class="blackbg">
                <img src="{{ 'img/donut-blanc.png' }}" alt="" height="auto" width="200px">
                <div class="title">
                    <h1> QUI SOMMES-NOUS </h1>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>