body{
    background-color: #1f1d1b;
}


.container {
    margin-top: 15%;
    width: 45%;
    position: relative;
    text-align: center;
    color: black;
  }
  

  
  .centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.taille{
width: 30%;
}


  /*avatar*/
  .icone{
      width: 40%;
  }

  .form{
      margin-top: 10%;
  }

  .bienvenue{
      color: black;
font-size: 28px;  }