{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}

<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-9 d-flex">
                <img src="https://picsum.photos/990/435" class="img-responsive">
            </div>
            <div class="col-md-3">
                <div class="bg-content-primary text-uppercase text-center text-white py-3">Blog</div>
                <div class="blog-container"></div>
            </div>
        </div>
    </div>

    <div class="container container-usefull-links">
        <div class="d-flex flex-row bg-content-primary text-white text-center">
            <div class="p-4 w-25 align-self-center">
                <img src="{{ 'img/img1.png' }}" alt="" class="d-block mx-auto">
                <span class="font-larger">Nos restaurants</span>
            </div>
            <div class="border"></div>
            <div class="p-4 w-25 align-self-center">
                <img src="{{ 'img/img2.png' }}" alt="" class="d-block mx-auto">
                <span class="font-larger">Nous contacter</span>
            </div>
            <div class="border"></div>
            <div class="p-4 align-self-center">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active text-start">
                            <div class="text-start">
                                <img src="https://picsum.photos/65/65" class="rounded-circle float-start me-3" alt="">
                                <div class="text-start lh-1 testimony-infos">
                                    Laura<br>
                                    26/05/2020
                                </div>
                            </div>
                            <img src="{{ 'img/stars.png' }}" class="rating-stars m-2" alt="">
                            <small class="text-start d-block">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce interdum pharetra lectus rutrum iaculis.<br>
                                Cras velit lacus, tincidunt quis erat maximus, ultricies fringilla libero. Aenean eu vestibulum tellus.
                            </small>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="border"></div>
            <div class="p-4 align-self-center">
                <img src="i{{ 'img/img3.png' }}" alt="" class="d-block mx-auto">
                <span class="font-larger">Connect</span><br>
                <small>rejoignez nous sur nos réseaux pour ne rien manquer</small>
            </div>
        </div>
    </div>
<section>

{% endblock %}
