{% extends 'base.html.twig' %}

{% block title %} Qui-Somme-Nous {% endblock %}

{% block body %}
    {% include 'headerbase.html.twig' %}


    <section class="board">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 ctr">
                    <div class="title-qsn">
                        <h2>QUI SOMME NOUS</h2>
                    </div>
                </div>
                <div class="col-md-4 offset-md-2">
                    <div class="tableau">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has
                        </p>
                    </div>
                </div>

            </div>
            <div class="row palier">
                <div class="col-md-4 offset-md-6">
                    <div class="tableau second">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has
                        </p>
                    </div>
                </div>

            </div>
            <div class="row palier">
                <div class="col-md-4 offset-md-2">
                    <div class="tableau third">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
